<div class="container-fluid table-responsive">
    <h2>Applications</h2>
    <br />    
    <table class="table table-hover table-font-small">
        <thead>
            <tr>
                <td class="col-sm-12 col-md-2 col-lg-2">Date</td>
                <td class="col-sm-12 col-md-2 col-lg-2">File#</td>
                <td class="col-sm-12 col-md-2 col-lg-2">CNIC</td>
                <td class="col-sm-12 col-md-1 col-lg-1">LIC#</td>                
                <td class="col-sm-12 col-md-1 col-lg-1">Service</td>                
                <td class="col-sm-12 col-md-1 col-lg-1">Status</td>
                <td class="col-sm-12 col-md-2 col-lg-2">Notes</td>
                <td class="col-sm-12 col-md-1 col-lg-1"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10-Mar-2022</td>
                <td><a href="#">Application #1248</a></td>
                <td>12345-01234567-9</td>
                <td>LIC# 01142</td>
                <td>Visa Verification</td>                
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>05-Jan-2022</td>
                <td><a href="#">Application #1205</a></td>
                <td>12145-01234588-9</td>
                <td>LIC# 01140</td>
                <td>Chamber Allotment</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>01-Jan-2022</td>
                <td><a href="#">Application #1201</a></td>
                <td>12345-01234577-9</td>
                <td>LIC# 01440</td>
                <td>Chamber Allotment</td>
                <td>Cancelled</td>
                <td><a href="#">Objections</a></td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>20-Dec-2021</td>
                <td><a href="#">Application #1181</a></td>
                <td>12345-01664567-9</td>
                <td>LIC# 07722</td>
                <td>Visa Verification</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>10-Dec-2021</td>
                <td><a href="#">Application #1148</a></td>
                <td>12345-01774567-9</td>
                <td>LIC# 06662</td>
                <td>Visa Verification</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>4-Mar-2021</td>
                <td><a href="#">Application #1086</a></td>
                <td>12345-01266567-9</td>
                <td>LIC# 0792</td>
                <td>Visa Verification</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>10-Feb-2021</td>
                <td><a href="#">Application #1079</a></td>
                <td>12345-01234569-9</td>
                <td>LIC# 0162</td>
                <td>Chamber Allotment</td>
                <td>Cancelled</td>
                <td><a href="#">Objections</a></td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>06-Feb-2021</td>
                <td><a href="#">Application #1065</a></td>
                <td>12345-01234577-9</td>
                <td>LIC# 0152</td>
                <td>Visa Verification</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>06-Jan-2021</td>
                <td><a href="#">Application #1060</a></td>
                <td>12345-01236547-9</td>
                <td>LIC# 0116</td>
                <td>Character Certificate</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>01-Jan-2021</td>
                <td><a href="#">Application #1048</a></td>
                <td>12645-01457567-9</td>
                <td>LIC# 00140</td>
                <td>Chamber Allotment</td>
                <td>Closed</td>
                <td>-</td>
                <td>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-6">
            <div class='input-group' dir='ltr'>
                <span class='input-group-prepend'><span class='input-group-text'>Size</span></span>
                <select class=''>
                    <option value='10'> 10 </option>
                    <option value='20'>20</option>
                    <option value='50'> 50 </option>
                    <option value='100'>100</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <nav aria-label="Listings">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>1</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>2</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>3</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>4</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>5</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>6</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>