@section PageTitle {
    
    <h3 class="welcome-sub-text">@LocaleResources.Core.Views.Home.Summary</h3>
}

<div class="page-content">
    <section class="" id="webpage" itemscope itemtype="http://schema.org/WebPage">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 itemprop="name">
                    CRUD2CRUD CRUDView, HTML, Bootstrap and KnockoutJS project website.
                </h3>
                <p itemprop="description">
                    Project provides seemless client and server side integration with data access through controller to controller logic.
                    Controller to controller communication scale repositories without growing interface definitions. Well defined or 
                    understood controller communication logic increases programmers productivitiy with clean and less code. Compare
                    client side CRUDView and server side CRUDController code. CRUD2CRUD client and server controllers abstract repeating tasks 
                    and you're quickly ready with repositories.
                </p>
                <p>
                    This project implements following bootstrap templates with server side bootstrap <a href="https://www.nuget.org/packages/WindnTrees.Controls.Standard">navigation</a> control:
                    <ul>
                        <li><a href="https://startbootstrap.com/theme/new-age" target="_blank">New Age</a> Template <a href="/home/index">/home/index</a> </li>
                        <li><a href="https://www.bootstrapdash.com/demo/celestial-free/template/index.html" target="_blank">Celestial Admin</a> Template <a href="/myaccount/home/index?home">/myaccount/home/index</a> </li>
                        <li><a href="https://getbootstrap.com/" target="_blank">Native Bootstrap</a> Template <a href="/admin/home/index">/admin/home/index</a> </li>
                    </ul>
                    <p>Develop and theme with ready JSON enabled bootstrap navigation template.</p>
                </p>
                <h3>Benefits:</h3>
                <ul>
                    <li>MVVM</li>
                    <li>CRUD2CRUD Controllers</li>
                    <li>CRUD Repositories</li>
                    <li>Neat Views and Scripting</li>
                    <li>Professional Practice, and</li>
                    <li>Simple Codebase</li>
                </ul>
                <h3>Technologies:</h3>
                <ul>
                    <li>HTML, Javascript, KnockoutJS and ASP .NET</li>
                    <li>.NET 8, .NET Framework</li>
                    <li><a href="https://www.nuget.org/profiles/invincible_technologies">Nuget</a> Ready</li>
                </ul>
            </div>
        </div>
    </section>
</div>