<!-- basic views -->
<script type="text/html" id="request_progress">
    <div class="progress-bar" role="progressbar" data-bind="attr: { style: ('width: ' + RequestProgress()  + '%;'), 'aria-valuenow': (&quot; + RequestProgress() + &quot;) }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span data-bind="text: RequestProgress()"></span></div>
</script>

<script type="text/html" id="results_processing">
    <span class="d-flex justify-content-end">
        <i class="fa fa-cog fa-spin" data-bind="visible: Processing()"></i>
    </span>
</script>
<script type="text/html" id="results_messages">
    <span class="d-flex justify-content-start" data-bind="if: ResultMessage().length > 0">
        <span data-bind="text: ResultMessage"></span>
    </span>
</script>

<script type="text/html" id="form_processing">
    <span class="d-flex justify-content-end">
        <i class="fa fa-cog fa-spin" data-bind="visible: FormProcessing()"></i>
    </span>
</script>
<script type="text/html" id="form_messages">
    <span class="d-flex justify-content-start" data-bind="if: FormResultMessage().length > 0">
        <span data-bind="text: FormResultMessage"></span>
    </span>
</script>

<script type="text/html" id="list_results_messages">
    <span class="d-flex justify-content-start" data-bind="if: ResultMessage().length > 0">
        <span data-bind="text: ResultMessage"></span>
    </span>
</script>
<script type="text/html" id="list_error_messages">
    <li class="alert alert-danger"><span data-bind="text: errField"></span> <span data-bind="text: errMessage"></span></li>
</script>