<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class="p-2">CRUDView (CRUD2CRUD) & Bootstrap Navigation Administrator</div>
            <div class="p-2">Copyright &copy; INVINCIBLE TECHNOLOGIES (SMC-PVT) LTD</div>
        </div>
    </div>
</footer>
<!-- End of Footer -->