<div class="container-fluid table-responsive">
    <h2>Member Registrations</h2>
    <br />
    <table class="table table-hover table-font-small">
        <thead>
            <tr>
                <td class="col-sm-12 col-md-2 col-lg-2">Reg. Date:</td>
                <td class="col-sm-12 col-md-3 col-lg-3">Member</td>
                <td class="col-sm-12 col-md-2 col-lg-2">CNIC</td>
                <td class="col-sm-12 col-md-2 col-lg-2">Contact</td>
                <td class="col-sm-12 col-md-1 col-lg-1">Office#</td>
                <td class="col-sm-12 col-md-2 col-lg-2"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10-Mar-1998</td>
                <td><a href="#">Mr. Arshad Advocate</a></td>
                <td>12365-12345687-1</td>
                <td>030012456452</td>
                <td>Chamber 1,2</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>06-Jan-1999</td>
                <td><a href="#">Mr. Waseem Advocate</a></td>
                <td>12365-1238887-1</td>
                <td>030012456452</td>
                <td>Chamber 3</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>08-Feb-2000</td>
                <td><a href="#">Mr. Waqas Advocate</a></td>
                <td>12365-12346587-1</td>
                <td>030012456452</td>
                <td>Chamber 4</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>15-Feb-2001</td>
                <td><a href="#">Mr. Akhtar Advocate</a></td>
                <td>12365-12125687-1</td>
                <td>030012456452</td>
                <td>Chamber 5</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>18-June-2002</td>
                <td><a href="#">Mr. Waris Advocate</a></td>
                <td>12365-12366687-1</td>
                <td>030012456452</td>
                <td>Chamber 6,7</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>10-Mar-1998</td>
                <td><a href="#">Mr. Arshad Advocate</a></td>
                <td>12365-12345687-1</td>
                <td>030012456452</td>
                <td>Chamber 8</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>06-Jan-1999</td>
                <td><a href="#">Mr. Waseem Advocate</a></td>
                <td>12365-1238887-1</td>
                <td>030012456452</td>
                <td>Chamber 9</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>08-Feb-2000</td>
                <td><a href="#">Mr. Waqas Advocate</a></td>
                <td>12365-12346587-1</td>
                <td>030012456452</td>
                <td>Chamber 10</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>15-Feb-2001</td>
                <td><a href="#">Mr. Akhtar Advocate</a></td>
                <td>12365-12125687-1</td>
                <td>030012456452</td>
                <td>Chamber 12</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
            <tr>
                <td>18-June-2002</td>
                <td><a href="#">Mr. Waris Advocate</a></td>
                <td>12365-12366687-1</td>
                <td>030012456452</td>
                <td>Chamber 17</td>
                <td>
                    <div class="d-flex justify-content-end"><a href="#"><img width="50" height="50" /></a></div>
                    <div class="d-flex justify-content-end"><span><a class="small" href="#">View</a> <a class="small" style="color: green" href="#">Approve</a></span></div>
                    <div class="d-flex justify-content-end"><span><a class="small" style="color: red" href="#">Cancel</a></span></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-6">
            <div class='input-group' dir='ltr'>
                <span class='input-group-prepend'><span class='input-group-text'>Size</span></span>
                <select class=''>
                    <option value='10'> 10 </option>
                    <option value='20'>20</option>
                    <option value='50'> 50 </option>
                    <option value='100'>100</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <nav aria-label="Listings">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>1</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>2</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>3</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>4</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>5</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><span>6</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>